:root {
    --primary-color: #003478; 
    --secondary-color: #c60c30; 
    --background-color: #f9f9f9;
    --font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: #333;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

header h1 {
    text-align: center;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.data, .weather {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.data ul, .weather ul {
    list-style: none;
    padding: 0;
}

.data ul li, .weather ul li {
    margin-bottom: 0.5rem;
}

.hero-image img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.weather h2::after {
    content: " ⛅"; 

}

footer {
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
}


@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1rem;
    }

    .hero-image {
        grid-column: 2;
    }
}
